body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0 0 10px 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #C9E0ED;
}

#content
{
	padding: 20px;
}

#sidebar
{
	padding: 0 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
    clear: both;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	float: left;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 15px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
	float: left;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 0 5px 0 5px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	text-decoration: underline;
}

#main
{
	padding: 0 15px;
	overflow: hidden;
	clear: both;
}

#sidebar_column
{
	float: left;
	width: 200px;
}

#entry
{
	text-align: left;
	/*margin: 0 0 0 225px;*/
	overflow: hidden;
}

#sidebar_menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	background: #EFFDFF;
}

#sidebar_menu ul ul
{
	margin: 3px 0 5px 15px;
}

#sidebar_menu ul li a, #sidebar_menu ul li span
{
	background: url("bg.gif") repeat-x scroll left top white;
	padding: 3px 13px;
	display: block; 
	color:#EEEEEE;
	font-size:12px;
	font-weight:bold;
}

#sidebar_menu ul li a:hover
{
	text-decoration: underline;
}

#sidebar_menu ul li li a, #sidebar_menu ul li li span
{
	background: none;
	border: 0;
	color: #0066A4;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	padding: 2px 0 2px 8px;
	text-decoration:none; 
}

#sidebar_menu li.active a
{
	background: url(../../images/admin/arrowRight.png) no-repeat 0 4px;
	padding-left: 15px;
}

#entry .container, #entry s{
	width: auto;
}

ul.operations
{
	float: right;
	clear: both;
	display: block;
	/*background: #6FACCF;*/
}

.operations li
{
	float: left;
	display: block;
	border-left: 1px solid #0066A4;
	height: 15px;
}

.operations li:first-child
{
	border-left: 0;
}

.header_actions
{
	float: right;
	margin: 10px 10px 0 0;
	text-align: right;
}

.setting_view td
{
	vertical-align: top;
}

ul.yiiPager a
{
	display: inline-block;
	padding-bottom: 2px !important;
}